@charset "utf-8";
/* CSS Document */

/*
	black: #333333 rgb(51,51,51)
	blue: #313AAD rgb (49,58,173)
*/


<style>
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}
html {
	//background-color: #333333;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	/*width: 1000px;*/
	height: 100%;
	font-size: 16px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
   	margin: 0;
   	box-sizing: border-box;
   	padding: 10px 50px;
	//padding: 10px 50px 10px 50px;
	overflow-y:scroll;
	position: relative;
	//background-color: red;
}
a {
	color: #313AAD;
	text-decoration: none;
}
a:hover {
	color: #333333;
	text-decoration: underline;
}
#wrapper {
	box-sizing:border-box;
	position: relative;
	min-height: 100%;
	padding-bottom: 50px;
}

#Canvas {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;f
    display: block;
	width: 1000px;
	height: 500px;
	border: 1px solid black;
}
.welcome {
	margin:auto;
	width: 500px;
}
.headerNav {
	width: 1000px;
	margin: auto;
	text-align:center;
	display:inline-block;
	padding: 0;
	position: relative;
}
.headerNav ul{ 
	display:inline;
	list-style-type:none;
	margin: 0;
    padding: 0px 0px;
    vertical-align: baseline;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.headerNav li{
	float: left;
	width: 160px;
}
.headerNav li a{
	display: block;
    text-align: center;
    text-decoration: none;
	//font-weight:bold;
	font-size:22px;
	padding: 0px 0px;
	color:black;
}
nav {
	padding-bottom: 20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.navBar {
	width: 1000px;
	margin: auto;
	border-bottom: 3px solid black;
	padding-bottom: 10px;
	text-align:center;
	
}
.navBar a {
	text-decoration:none;
	color:black;
}
.navBar a:visited {
	color:black;
}
.navBar a:hover {
	color:#313AAD;
}
.nav {
	width: 140px;
	text-align: right;
	vertical-align: bottom;
}
.icon {
	vertical-align:text-bottom;
	//height: 91.25px;
	width: 100px;
	float: left;
	padding-left: 25px;
}
section {
	//min-height: 500px;
	width: 1000px;
	margin: auto;
	padding-bottom: 15px;
}
.about {
	text-align:center;
	margin: auto;
	width: 900px;
	padding: 0px;
	overflow: hidden;
}
.title{
	color: #313AAD;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	padding-top: 20px;
}

.classes {
	padding-left: 50px;
}
.class {
	width: 145px;
	padding-left: 50px;
	font-weight: bold;
}
td {
	padding: 2px 0px;
}

.cardArea {
    text-align: center;
    padding-bottom: 15px;
}

.card {
    text-align: center;
    display: inline-block;
	margin: 10px;
    border: 1px solid black;
    width: 450px; height: 150px;
    background-color: ghostwhite;
	overflow:hidden;
	box-shadow: 4px 4px 8px 0 rgba(51,51,51,0.2);
    transition: 0.35s;
}

.card:hover {
	box-shadow: 4px 8px 16px 0px rgba(51,51,51,0.4);
}

.cardImage {
    width: 150px; height: 150px;
    padding-bottom: 0px;
	margin: 0px;
	float: left;
}

.cardText {
    color: #313AAD;
    text-align: left;
	height: 100%;
	width: 249px;
	padding: 0px 25px;
	margin: 0px;
	float:left;
	position: relative;
	border-left-style:solid;
	border-color:#313AAD;
	border-width: 1px;
}

.cardTitle {
	display: inline-block;
	vertical-align: middle;
	//line-height: 40px;
	//height: 40px;
	padding:5px 0px;
	font-size: 17px;
	font-weight: bold;
	//border-bottom-style:solid;
	//border-color:#313AAD;
	//border-width: 1px;
}

.cardDescription {
    padding: 0px 0px;
    color: #333333;
}

.cardLinks {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 250px;
	height: 25px;
	text-align: right;
	padding: 5px 25px 0px 25px;
	border-top-style:solid;
	border-color:#313AAD;
	border-width: 1px;
}

.cardLinkLeft {
	text-align:left;
	float: left;
}

.cardLinkRight {
	text-align:right;
}

.cardLinks a {
	color: #313AAD;
	text-decoration: none;
	//padding: 0px 15px;
}
.cardLinks a:hover {
	color: #333333;
	text-decoration: underline;
}

.cardHeader {
	box-sizing: border-box;
	width: 100%;
	margin: auto;
	padding: 15px 35px;
	text-align: left;
}

.cardHeaderTitleBox {
	width: 100%;
	color: #313AAD;
	font-size: 22px;
	font-weight: bold;
	//border-bottom-style:solid;
	//border-color:#313AAD;
	//border-width: 2px;
	padding: 0px  0px;
}

.cardHeaderTitle {
	width: 100%;
	margin: auto;
}

.cardHeaderDescription {
	width: 100%;
	padding: 10px 0px 0px 0px;
}

/* Slideshow */

.slideshow {
    position: relative;
    padding: 20px;
    width: 500px;
    margin: auto;
}
#slideshowObjs {
    position: relative;
    height: 500px; width: 500px;
}
#currentSlide {
    position: absolute;
    height: 100%; width: 100%;
}
#newSlide, #oldSlide {
    display: none;
    position: absolute;
    height: 100%; width: 100%;
}
.slideshowImg {
    height: 100%; width: 100%;
}
.slideshowTitle {
    position: absolute;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-size: 28px;
    text-align: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
.slideshowDot {
    height: 13px; width: 13px;
	background-color: transparent;
	color: white;
	display: inline-block;
	padding: 0;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #ccc;
	cursor: pointer;
}
.slideshowDot:hover {
	background-color: white;
}
.slideshowRightArrow {
	float:right;
	cursor:pointer;
	padding-right:10px;
}
.slideshowLeftArrow {
	float:left;
	cursor:pointer;
	padding-left:10px;
}
.slideshowNav {
	width:100%;
	text-align:center;
	padding: 5px 0px;
	background: rgba(0, 0, 0, .5);
	color:#fff;
}

/* FOOTER */
footer {
	clear:both;
	width: 100%;
	padding: 0;
	margin: auto;
	//background-color: #333333;
	position: absolute;
	bottom: 0;
	height: 50px;
}
.footer {
	border-top-style:solid;
	border-color:#000000;
	border-width: 2px;
	width: 1000px;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	position: relative;
}
.footerleft {
	position: absolute;
	left: 0;
}
.footerright {
	position: absolute;
	right: 0;
}

.smLink {
	width: 25px;
	height: 25px;
}
</style>